/*
Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss

Backtrace:
/Users/marc/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:454:in `read'
/Users/marc/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
/Users/marc/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/marc/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/marc/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/marc/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/marc/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin.rb:109:in `method_missing'
/Users/marc/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/marc/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/marc/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
/Users/marc/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
/Users/marc/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/bin/sass:13:in `<top (required)>'
/Users/marc/.rbenv/versions/2.4.1/bin/sass:23:in `load'
/Users/marc/.rbenv/versions/2.4.1/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss"; }
