.simple-btn {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.rounded-btn {
  text-decoration: none;
  cursor: pointer;
  color: $white;
  padding: .625em 1.25em;
  transition: all 200ms ease-in;
  border-radius: 3px;
  border: none;
  font-size: 100%;
  display: inline-block;
}
.square-btn {
  text-decoration: none;
  cursor: pointer;
  color: black;
  padding: .625em 1.25em;
  transition: all 200ms ease-in;
  border: none;
  width: 100%;
  display: inline-block;
  font-size: calculateRem(11px);
}

.square-btn--default {
  background-color: $dark-grey;
  height: 44px;

  &:after {
    content: "";
    background: url('../../assets/icons/arrow-right.svg') center center no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }

  &:hover {
    background-color: #c6c6c6;
  }
}

.square-btn--blue {
  background-color: $blue;
  color: $white;
  height: 44px;
  font-size: 100%;

  &:after {
    content: "";
    background: url('../../assets/icons/arrow-right-white.svg') center center no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    right: 1rem;
    position: absolute;
    margin-left: 5px;
  }

  &:hover {
    background-color: $light-blue;
  }
}

.rounded-btn--default {
  background-color: $light-grey;
  color: $dark-grey;
  height: 44px;

  &:hover {
    color: black;
    background-color: $dark-grey;
  }
}
.rounded-btn--blue {
  background-color: $dark-blue;

  &:hover {
    background-color: $darker-blue;
  }
}

.rounded-btn--orange {
  background-color: $orange;

  &:hover {
    background-color: $dark-orange;
  }
}
