@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

$font-family: 'Roboto', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

.font-light {
  font-weight: $font-weight-light;
}

.font-regular {
  font-weight: $font-weight-regular;
}

.font-heavy {
  font-weight: $font-weight-heavy;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 0.875rem;
  font-weight: 200;
  line-height: calculateRem(24px);
  margin-bottom: 1.25em;

  &:last-child {
    margin-bottom: 0;
  }
}
