.footer {
  color: $white;

  .footer__contact {
    background-color: $blue;

    .footer__contact-title {
      margin-right: 1.2em;
    }
  }

  .footer__disclaimer {
    background-color: $light-blue;

    .footer__contact-title {
      margin-right: 1.2em;
    }
  }

  .footer__payment {
    background-color: $white;

    .payment-list {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 0;

      .payment-list__item {
        display: inline-block;
        height: 24px;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
