body {
  background-color: $light-grey;
}

.fa {
  margin-right: 10px;
}

.flex-center {
  display: flex !important;
  align-items: center;
}

.spacer {
  margin-bottom: 1rem;
}

.spacer--big {
  margin-bottom: 3rem;
}
