.navbar {
  z-index: 1000;

  .header_logo {
    display: inline-block;
    width: 360px;
    height: 52px;
    background: url(../../assets/logo/DO-logo.svg) no-repeat center center;
    background-size: 100%;
  }

  .contact {
    font-size: calculateRem(14px);
  }

}
