* {
  font-family: $font-family;
  box-sizing: border-box;
  line-height: $font-height;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}
