.main {
  padding-top: 0;

  .main__title {
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .form {
    background-color: $white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);

    .form__progress {
      padding: $padding;
      border-bottom: 1px solid $dark-grey;

      .progress-steps {
        text-transform: uppercase;
        font-weight: $font-weight-light;
      }

      .progress-step-title {
        font-weight: $font-weight-heavy;
        line-height: 100%;
      }

      .progress-bar, .progress-bar__fill {
        display: block;
        height: 10px;
        border-radius: 10px;
        background-color: $dark-grey;

        .progress-bar__fill {
          width: 30%;
          transition: width .5s ease;
          transition-delay: 1.25s;
          background-color: $blue;
        }
      }

      .progress-bar__text {
        font-size: 100%;
        color: $dark-grey;
      }
    }

    .form__inputs {
      padding: $padding;

      .privacy {
        background-color: $light-grey;
        padding: 1rem;
        margin-right: 0;
        font-size: calculateRem(11px);
      }

      .form-input {
        display: block;
        padding: .625em;
        width: 100%;
        border: 2px solid $dark-grey;
        background-color: $white;
      }

      .form-select {
        display: block;
        padding: .625em;
        width: 100%;
        border: 2px solid $dark-grey;
        background-color: $white;
        border-radius: 0;
        -webkit-appearance : none;
        -moz-appearance : none;
        background: #fff url('../../assets/icons/arrow-down.png') no-repeat;
        background-size: 20px;
        background-position:  right 10px center;
      }

      .radio-group {
        padding: 0;
        border: none;

        .input-checkbox {
          font-size: calculateRem(11px);
          display: inline-block;
          padding: .625em;
          border: 2px solid $dark-grey;
          cursor: pointer;
          margin-right: 1rem;
          position: relative;

          .text {
            width: 100%;
            display: block;
          }

          input[type="radio"] {
            display: none;
          }
        }
      }

      .input-validate--aproved, .input-validate--aproved-cb {

        .form-input, .form-select {
          border-color: $blue;
        }

        &:after {
          content: "";
          background: $white url('../../assets/icons/check-circle.svg') center center no-repeat;
          display: inline-block;
          width: 20px;
          height: 20px;
          position: absolute;
          right: -10px;
          top: 15px;
        }
      }

      .input-validate--aproved-cb {
        border-color: $blue !important;

        &:after {
          top: -10px;
        }
      }

      .pricing {

        &:after {
          content: "";
          background: $white url('../../assets/icons/check-circle.svg') center center no-repeat;
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-left: 5px;
        }
      }
    }

    .form-buttons {
      padding: $padding;
      border-top: 1px solid $dark-grey;
    }
  }
}
