@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-heavy {
  font-weight: 700; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.justify {
  text-align: justify; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.875rem; }

p {
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 1.5rem;
  margin-bottom: 1.25em; }
  p:last-child {
    margin-bottom: 0; }

.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5em 1em; }

.row {
  position: relative;
  width: 100%; }

[class^="col"] {
  float: left;
  margin-right: 3.5%;
  min-height: 0.125rem; }
  [class^="col"]:last-child {
    margin-right: 0; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-1 {
  width: 5.125%; }

.col-2 {
  width: 13.75%; }

.col-3 {
  width: 22.375%; }

.col-4 {
  width: 31%; }

.col-5 {
  width: 39.625%; }

.col-6 {
  width: 48.25%; }

.col-7 {
  width: 56.875%; }

.col-8 {
  width: 65.5%; }

.col-9 {
  width: 74.125%; }

.col-10 {
  width: 82.75%; }

.col-11 {
  width: 91.375%; }

.col-12 {
  width: 100%; }

* {
  font-family: "Roboto", Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.5; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

body {
  background-color: #F9F9F9; }

.fa {
  margin-right: 10px; }

.flex-center {
  display: flex !important;
  align-items: center; }

.spacer {
  margin-bottom: 1rem; }

.spacer--big {
  margin-bottom: 3rem; }

.simple-btn {
  text-decoration: none;
  cursor: pointer;
  color: black; }

.rounded-btn {
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;
  padding: .625em 1.25em;
  transition: all 200ms ease-in;
  border-radius: 3px;
  border: none;
  font-size: 100%;
  display: inline-block; }

.square-btn {
  text-decoration: none;
  cursor: pointer;
  color: black;
  padding: .625em 1.25em;
  transition: all 200ms ease-in;
  border: none;
  width: 100%;
  display: inline-block;
  font-size: 0.6875rem; }

.square-btn--default {
  background-color: #E5E5E5;
  height: 44px; }
  .square-btn--default:after {
    content: "";
    background: url("../../assets/icons/arrow-right.svg") center center no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 5px; }
  .square-btn--default:hover {
    background-color: #c6c6c6; }

.square-btn--blue {
  background-color: #3FA9F5;
  color: #FFFFFF;
  height: 44px;
  font-size: 100%; }
  .square-btn--blue:after {
    content: "";
    background: url("../../assets/icons/arrow-right-white.svg") center center no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    right: 1rem;
    position: absolute;
    margin-left: 5px; }
  .square-btn--blue:hover {
    background-color: #65BAF7; }

.rounded-btn--default {
  background-color: #F9F9F9;
  color: #E5E5E5;
  height: 44px; }
  .rounded-btn--default:hover {
    color: black;
    background-color: #E5E5E5; }

.rounded-btn--blue {
  background-color: #12608c; }
  .rounded-btn--blue:hover {
    background-color: #0C415F; }

.rounded-btn--orange {
  background-color: #E56A1A; }
  .rounded-btn--orange:hover {
    background-color: #ce5f17; }

.navbar {
  z-index: 1000; }
  .navbar .header_logo {
    display: inline-block;
    width: 360px;
    height: 52px;
    background: url(../../assets/logo/DO-logo.svg) no-repeat center center;
    background-size: 100%; }
  .navbar .contact {
    font-size: 0.875rem; }

.main {
  padding-top: 0; }
  .main .main__title {
    font-weight: 300;
    margin-bottom: 1rem; }
  .main .form {
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); }
    .main .form .form__progress {
      padding: 2.5em;
      border-bottom: 1px solid #E5E5E5; }
      .main .form .form__progress .progress-steps {
        text-transform: uppercase;
        font-weight: 300; }
      .main .form .form__progress .progress-step-title {
        font-weight: 700;
        line-height: 100%; }
      .main .form .form__progress .progress-bar, .main .form .form__progress .progress-bar__fill {
        display: block;
        height: 10px;
        border-radius: 10px;
        background-color: #E5E5E5; }
        .main .form .form__progress .progress-bar .progress-bar__fill, .main .form .form__progress .progress-bar__fill .progress-bar__fill {
          width: 30%;
          transition: width .5s ease;
          transition-delay: 1.25s;
          background-color: #3FA9F5; }
      .main .form .form__progress .progress-bar__text {
        font-size: 100%;
        color: #E5E5E5; }
    .main .form .form__inputs {
      padding: 2.5em; }
      .main .form .form__inputs .privacy {
        background-color: #F9F9F9;
        padding: 1rem;
        margin-right: 0;
        font-size: 0.6875rem; }
      .main .form .form__inputs .form-input {
        display: block;
        padding: .625em;
        width: 100%;
        border: 2px solid #E5E5E5;
        background-color: #FFFFFF; }
      .main .form .form__inputs .form-select {
        display: block;
        padding: .625em;
        width: 100%;
        border: 2px solid #E5E5E5;
        background-color: #FFFFFF;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #fff url("../../assets/icons/arrow-down.png") no-repeat;
        background-size: 20px;
        background-position: right 10px center; }
      .main .form .form__inputs .radio-group {
        padding: 0;
        border: none; }
        .main .form .form__inputs .radio-group .input-checkbox {
          font-size: 0.6875rem;
          display: inline-block;
          padding: .625em;
          border: 2px solid #E5E5E5;
          cursor: pointer;
          margin-right: 1rem;
          position: relative; }
          .main .form .form__inputs .radio-group .input-checkbox .text {
            width: 100%;
            display: block; }
          .main .form .form__inputs .radio-group .input-checkbox input[type="radio"] {
            display: none; }
      .main .form .form__inputs .input-validate--aproved .form-input, .main .form .form__inputs .input-validate--aproved .form-select, .main .form .form__inputs .input-validate--aproved-cb .form-input, .main .form .form__inputs .input-validate--aproved-cb .form-select {
        border-color: #3FA9F5; }
      .main .form .form__inputs .input-validate--aproved:after, .main .form .form__inputs .input-validate--aproved-cb:after {
        content: "";
        background: #FFFFFF url("../../assets/icons/check-circle.svg") center center no-repeat;
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        right: -10px;
        top: 15px; }
      .main .form .form__inputs .input-validate--aproved-cb {
        border-color: #3FA9F5 !important; }
        .main .form .form__inputs .input-validate--aproved-cb:after {
          top: -10px; }
      .main .form .form__inputs .pricing:after {
        content: "";
        background: #FFFFFF url("../../assets/icons/check-circle.svg") center center no-repeat;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 5px; }
    .main .form .form-buttons {
      padding: 2.5em;
      border-top: 1px solid #E5E5E5; }

.footer {
  color: #FFFFFF; }
  .footer .footer__contact {
    background-color: #3FA9F5; }
    .footer .footer__contact .footer__contact-title {
      margin-right: 1.2em; }
  .footer .footer__disclaimer {
    background-color: #65BAF7; }
    .footer .footer__disclaimer .footer__contact-title {
      margin-right: 1.2em; }
  .footer .footer__payment {
    background-color: #FFFFFF; }
    .footer .footer__payment .payment-list {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 0; }
      .footer .footer__payment .payment-list .payment-list__item {
        display: inline-block;
        height: 24px;
        margin-right: 20px; }
        .footer .footer__payment .payment-list .payment-list__item:last-child {
          margin-right: 0; }

/*# sourceMappingURL=style.css.map */
